#!/usr/bin/env fish

set -x CHEZMOISOURCEPATH "{{.chezmoi.sourceDir}}"
set -x DOTFILES "$(realpath $CHEZMOISOURCEPATH/../dotfiles)"
set -x DOTFILES_DATA "$HOME/dotfiles"

if test -f "$DOTFILES/profile/env.fish"
    source "$DOTFILES/profile/env.fish"
end
