# Use cancerous zsh syntax to get current file path. I dont know enough about
# zsh or care enough to know about this busted syntax to know if this gives
# an absolute path or handles symlinks (which it must for correctness).
# export DOTFILES="$(dirname $(dirname ${${(%):-%x}:A}))"
export CHEZMOISOURCEPATH="{{.chezmoi.sourceDir}}"
export DOTFILES="$(dirname $CHEZMOISOURCEPATH)/dotfiles"
export DOTFILES_DATA="$HOME/dotfiles"
export ZDOTDIR="$DOTFILES/zsh"

if [ -f "$ZDOTDIR/.zshenv" ];then
    source "$ZDOTDIR/.zshenv"
fi